.navbar {
  border-radius: 0 !important;
}

.search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.search input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #aaa;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.repo ul {
  padding-left: 15px !important;
}

.repo ul li {
  padding: 5px 0;
  cursor: pointer;
}

img {
  width: 150px !important;
}